<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef>Stock</th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef>Created Date</th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef>Updated Date</th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="photos">
      <th mat-header-cell *matHeaderCellDef width="30px"></th>
      <td mat-cell *matCellDef="let element"> <img title="Add images" (click)="addProductImages(element.id)"
          src="../../../../../assets/photoLogo.png" width="25px" style="cursor: pointer;"> </td>
    </ng-container>

    <ng-container matColumnDef="editProduct">
      <th mat-header-cell *matHeaderCellDef width="40px"></th>
      <td mat-cell *matCellDef="let element"> <button title="Edit"
          (click)="editProduct(element.id,element.name,element.stock,element.price)" mat-icon-button
          style="color: green;">
          <mat-icon>edit</mat-icon>
        </button> </td>
    </ng-container>

    <ng-container matColumnDef="deleteProduct">
      <th mat-header-cell *matHeaderCellDef width="40px"></th>
      <td title="Delete" mat-cell *matCellDef="let element" app-delete [id]="element.id" controller="products"
        (listRefreshCallback)="getProducts()">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="pageChanged()" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
