<h2 mat-dialog-title>Product Images</h2>
<mat-dialog-content class="mat-typography">
  <app-file-upload [options]="options"></app-file-upload>
  <div class="allImages">
    <mat-card class="product-images-card" *ngFor="let image of productImages|async;index as i" #cardElement>
      <mat-card-header></mat-card-header>
      <img mat-card-image [title]="image.fileName" [src]="baseUrl+image.path" [alt]="image.fileName">
      <mat-card-actions class="buttons">
        <button title="Delete" style="color: rgb(255, 0, 0);" mat-icon-button #cardIndex [id]="i"
          (click)="deleteImage(image.id,i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="refreshImages()">Refresh Images</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
