<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <nav class="navbar navbar-expand-lg" style="background-color: #E7E7E7;">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">E-commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="baskets">Basket</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown link
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="register"
              *ngIf="!authService.isAuthenticated">Sign
              In / Register</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" (click)= "signOut()" routerLink="/"
              *ngIf="authService.isAuthenticated">Sign Out <i class="fas fa-sign-out-alt sign-out"></i></a></li>
          <li class="nav-item"><button class="btn btn-outline-primary" routerLink="admin" type="submit"
              *ngIf="authService.isAuthenticated">Admin</button></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-1"></div>
</div>
<ngx-spinner type="square-loader" size="default" name="square-loader"></ngx-spinner>
<ngx-spinner type="ball-clip-rotate-pulse" size="default" name="ball-clip-rotate-pulse"></ngx-spinner>
<ngx-spinner type="ball-pulse" size="default" name="ball-pulse"></ngx-spinner>
